.App {
  text-align: center;
}
.div {
  margin: 50px auto 0 auto;
  padding: 5px;
  text-align: center;
  width: 700px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.div p {
  font-size: 20px;
  line-height: 1.7rem;
  font-weight: 550;
}
.inputRef {
  width: 150px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.btnRef {
  height: 30px;
  margin-bottom: 10px;
}
.wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  margin: 50px auto 50px auto;
}
.formWithHook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px 20px;
  align-content: center;
}
